@namespace SmallsOnline.Web.AdminSite.Server.Shared.FavoritesOf.Albums

@using SmallsOnline.Web.AdminSite.Server.Models.FavoritesOf.Albums

<div class="row">
    <div class="col">
        @if (_isUpdating)
        {
            <LoadingBar StatusText="@_updatingStatusText" />
        }
        else
        {
            <EditForm EditContext="_editContext" OnSubmit="@HandleOnSubmitAsync">
                <div class="row pb-3">
                    <div class="col">
                        <label class="form-label fw-bold">
                            Id:
                        </label>
                        <input @bind-value="AlbumData.Id" class="form-control font-monospace" disabled id="id" readonly />
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col">
                        <label class="form-label fw-bold">
                            Schema version:
                        </label>
                        <input @bind-value="AlbumData.SchemaVersion" class="form-control font-monospace" disabled
                            id="schema-version" readonly />
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col">
                        <label class="form-label fw-bold">
                            List year:
                        </label>
                        <InputText autocapitalize="off" autocomplete="off" autocorrect="off"
                            @bind-Value="AlbumData.ListYear" class="form-control font-monospace" id="list-year"
                            spellcheck="false" />
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12 col-lg-6">
                        <label class="form-label fw-bold">
                            Artist:
                        </label>
                        <InputText @bind-Value="AlbumData.Artist" class="form-control" id="artist" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <label class="form-label fw-bold">
                            Title:
                        </label>
                        <InputText @bind-Value="AlbumData.Title" class="form-control" id="title" />
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col">
                        <label class="form-label fw-bold">
                            Release date:
                        </label>
                        <InputDate @bind-Value="AlbumData.ReleaseDate" class="form-control font-monospace"
                            id="release-date" />
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label fw-bold" for="favorite-album-switch">
                                Favorite album of year?
                            </label>
                            <InputCheckbox @bind-Value="AlbumData.IsBest" class="form-check-input" role="switch" id="favorite-album-switch" />
                        </div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col">
                        <label class="form-label fw-bold">
                            Artwork Url: <a type="button" @onclick="HandleArtworkUploadAsync"><i
                                    class="bi bi-box-arrow-up" /></a>
                        </label>
                        <InputText autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"
                            @bind-Value="AlbumData.AlbumArtUrl" class="form-control font-monospace" id="artwork-url" />
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col">
                        <label class="form-label fw-bold">
                            Share Url: <a type="button" @onclick="HandleLoadAlbumDataAsync"><i
                                    class="bi bi-arrow-repeat" /></a>
                        </label>
                        <InputText autocapitalize="off" autocomplete="off" autocorrect="off"
                            @bind-Value="AlbumData.AlbumUrl" class="form-control font-monospace" id="song-url"
                            spellcheck="false" />
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col pt-2 border rounded-2 shadow-sm">
                        <label class="form-label fw-bold">
                            Standout songs:
                            @if (AlbumData.SchemaVersion == "1.0")
                            {
                                <a class="btn btn-success" role="button" @onclick="HandleAddStandoutSong">
                                    Add Song
                                </a>
                            }
                        </label>
                        <div class="row">
                            @if (AlbumData.SchemaVersion == "1.0")
                            {
                                @if (AlbumData.StandoutTracks is not null)
                                {
                                    @foreach (var standoutSong in AlbumData.StandoutTracks)
                                    {
                                        <div class="col-12 col-lg-6 p-2">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row pb-3">
                                                        <div class="col">
                                                            <label class="form-label fw-bold">
                                                                Name:
                                                            </label>
                                                            <InputText autocapitalize="off" autocomplete="off" autocorrect="off"
                                                                spellcheck="false" @bind-Value="standoutSong.Name"
                                                                class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row pb-3">
                                                        <div class="col">
                                                            <label class="form-label fw-bold">
                                                                Share Url:
                                                            </label>
                                                            <InputText autocapitalize="off" autocomplete="off" autocorrect="off"
                                                                spellcheck="false" @bind-Value="standoutSong.TrackUrl"
                                                                class="form-control font-monospace" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                @if (AlbumData.StandoutSongs is not null)
                                {
                                    @foreach (var standoutSong in AlbumData.StandoutSongs)
                                    {
                                        <div class="col-12 p-2">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row pb-3">
                                                        <div class="col-12 col-lg-6 pb-3 pb-lg-0">
                                                            <div class="row">
                                                                <div class="col-12 pb-2">
                                                                    <label class="form-label fw-bold">
                                                                        Name:
                                                                    </label>
                                                                    <InputText autocapitalize="off" autocomplete="off" autocorrect="off"
                                                                        spellcheck="false" @bind-Value="standoutSong.Name"
                                                                        class="form-control" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label class="form-label fw-bold">
                                                                        Share Url:
                                                                    </label>
                                                                    <InputText autocapitalize="off" autocomplete="off" autocorrect="off"
                                                                        spellcheck="false" @bind-Value="standoutSong.SongUrl"
                                                                        class="form-control font-monospace" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6">
                                                            <div class="row">
                                                                <div class="col-12 pb-2">
                                                                    <label class="form-label fw-bold">
                                                                        Disc number:
                                                                    </label>
                                                                    <InputNumber @bind-Value="standoutSong.DiscNumber"
                                                                        class="form-control font-monospace" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label class="form-label fw-bold">
                                                                        Song number:
                                                                    </label>
                                                                    <InputNumber @bind-Value="standoutSong.SongNumber"
                                                                        class="form-control font-monospace" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-end ms-auto">
                                                        <div class="flex-shrink-1">
                                                            <div class="form-check form-switch">
                                                                <InputCheckbox @bind-Value="@standoutSong.IsStandout"
                                                                    class="form-check-input" role="switch"
                                                                    id="@CreateStandoutSongId(standoutSong!.Name!)" />
                                                                <label class="form-check-label"
                                                                    for="@CreateStandoutSongId(standoutSong!.Name!)">
                                                                    Is standout?
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col">
                        @if (IsNewItem)
                        {
                            <button class="btn btn-glaucous" type="submit">Create</button>
                        }
                        else
                        {
                            <button class="btn btn-glaucous" type="submit">Update</button>
                            <button class="btn btn-danger" type="button" @onclick="HandleRemoveAlbumAsync">Remove</button>
                        }
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <h2>
            Preview
        </h2>
        <div class="row">
            <div class="col-12 col-lg-9">
                <AlbumItem ItemData="AlbumData" />
            </div>
        </div>
    </div>
</div>