@using SmallsOnline.Web.Lib.Models.FavoritesOf.Albums
@namespace SmallsOnline.Web.Lib.Components.FavoritesOf.Albums
@inherits ComponentBase

<div class="card shadow-sm">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-6">
            <img alt="Album art for @ItemData.Title" height="512" width="512" class="card-img img-fluid" src="@ItemData.AlbumArtUrl">
        </div>
        <div class="col">
            <div class="card-body">
                <h4 class="card-title">
                    @ItemData.Title
                </h4>
                <div class="card-subtitle text-muted">by @ItemData.Artist</div>
                <div class="py-2">
                    <div class="fs-5">Release date</div>
                    <div class="text-muted">
                        @if (ItemData.ReleaseDate is not null)
                        {
                            <span>
                                @ItemData.ReleaseDate.Value.ToString("MMMM dd, yyyy")
                            </span>
                        }
                        else
                        {
                            <span>
                                NaN
                            </span>
                        }
                    </div>
                    @if (@ItemData.IsBest)
                    {
                        <div class="row pt-2 pb-1">
                            <div class="col">
                                <div class="badge text-bg-success fs-6">
                                    <i class="bi bi-star-fill bi-icon-color-gold"></i> Favorite album @(!string.IsNullOrEmpty(ItemData.ListYear) ? $"of {ItemData.ListYear}" : "")
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row pt-2">
                        <div class="col">
                            <a class="btn btn-glaucous" href="@ItemData.AlbumUrl" rel="noopener noreferrer" role="button"
                               target="_blank">
                                Open Album
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h4>Standout Songs</h4>
                        <div>
                            <div class="list-group">
                                @if (ItemData.SchemaVersion is null)
                                {
                                    @if (ItemData.StandoutTracks is not null)
                                    {
                                        @foreach (AlbumStandoutSong standoutSongItem in ItemData.StandoutTracks)
                                        {
                                            <div class="list-group-item list-group-item-action">
                                                <a class="text-decoration-none stretched-link" href="@standoutSongItem.TrackUrl" rel="noopener noreferrer"
                                                   target="_blank">
                                                    @standoutSongItem.Name
                                                </a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="list-group-item">
                                            No tracks were provided in the dataset.
                                        </div>
                                    }
                                }
                                else if (ItemData.SchemaVersion == "2.0")
                                {
                                    @if (ItemData.OnlyStandoutSongs is not null)
                                    {
                                        @foreach (AlbumStandoutSongItem standoutSongItem in ItemData.OnlyStandoutSongs)
                                        {
                                            <div class="list-group-item list-group-item-action">
                                                <a class="text-decoration-none stretched-link" href="@standoutSongItem.SongUrl" rel="noopener noreferrer"
                                                   target="_blank">
                                                    @standoutSongItem.GetSongNumberAsString() @standoutSongItem.Name
                                                </a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="list-group-item">
                                            No tracks were provided in the dataset.
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>