@namespace SmallsOnline.Web.PublicSite.Client

@page "/blog/entry/{Id}"

@if (_isFinishedLoading == false)
{
    <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="mb-0">
                            <i class="bi bi-journal-text"></i> Blog
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <LoadingBar />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @if (_blogEntry is not null && _blogEntry.Title is not null)
    {
        <PageTitle>
            Smalls.Online - Blog - @_blogEntry.Title
        </PageTitle>
        <HeadContent>
            <meta content="@_blogEntry.Title / Smalls.Online" name="title" property="og:title" />
            <meta content="@_blogExcerpt" property="og:description" />
            <meta content="Tim Small" name="author">
            <meta content="@(_blogEntry.PostedDate!.Value.ToString("yyyy-MM-ddTHH:mm:sszzz"))" name="publish_date" property="og:publish_date">
            <meta content="@(_blogEntry.PostedDate!.Value.ToString("yyyy-MM-ddTHH:mm:sszzz"))" property="article:published_time">
            <meta content="@(_blogEntry.PostedDate!.Value.ToString("MMMM dd, yyyy hh:mm tt"))" name="displaydate">
            <meta content="https://smalls.online/blog/entry/@_blogEntry!.UrlId" property="og:url" />
        </HeadContent>
    }
    <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
        <div class="row pb-2">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="mb-0">
                            <h1>
                                <button class="btn btn-text-hider btn-glaucous" @onclick="HandleGoBackButtonClick"
                                        type="button">
                                    <i class="bi bi-arrow-left"></i> <span class="btn-hide">Go back</span>
                                </button> <i class="bi bi-journal-text"></i> Blog
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
        <div class="row">
            <div class="col">
                @if (_blogEntry is not null)
                {
                    <BlogEntryCard BlogEntry=@_blogEntry />
                }
            </div>
        </div>
    </div>
}