@using SmallsOnline.Web.Lib.Components.Sidebar

@namespace SmallsOnline.Web.PublicSite.Server.Shared.Sidebar

@inherits ComponentBase

<div class="sidebar">
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="flex-shrink-1">
                    <SidebarProfileImgWasm LoggingEnabled="@_isDevelopmentMode" @rendermode="@(new InteractiveAutoRenderMode(true))" />
                </div>
            </div>
            <div class="row justify-content-center gx-0 mt-4">
                <div class="col-9 soc-container">
                    @for (var i = 0; i < _socialMediaItems.Length; i++)
                    {
                        <div class="row ext-link-container gx-0@(i != 0 ? " py-2" : " pb-2")">
                            <div class="col">
                                <a class="ext-link bi-@(_socialMediaItems[i].Id)-color" href="@_socialMediaItems[i].Url" rel="@(_socialMediaItems[i].AddRelMe ? "me " : "")noopener noreferrer" target="_blank">
                                    <div class="row flex-nowrap gx-0">
                                        <div class="col-5 text-end">
                                            <i class="bi bi-@(_socialMediaItems[i].Id) bi-2x"></i>
                                        </div>
                                        <div class="col ms-2 text-start align-self-center flex-grow-0">
                                            @_socialMediaItems[i].DisplayName
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
